[build]
builder = "nixpacks"

[deploy]
startCommand = "chainlit run app_sa.py -h 0.0.0.0 --port ${PORT:-8000}"
healthcheckPath = "/"
healthcheckTimeout = 300
restartPolicyType = "on_failure"
restartPolicyMaxRetries = 3
